.style {
    background-color: red;
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin: auto;
}
.change {
    background-color: green;
    color: white;
    font-size: 18px;
}
.button1 {
    background-color: orange;
    font-size: 18px;

}
.remove {
    text-decoration: none;
}

