body {
  background-color: #a7dbe3;
  color: white;
  font-size: 23px;
  max-width: 500px;
  margin: 0 auto;
  
}
 h1 {
  font-size: 70px;
  color: #3747b3;;

 }
p {
  color: brown;
}
.box {
  background: pink;
  width: 300px;
  margin: 0 auto;
  padding: 15px;
  border: 2px solid red;
}