* {
  border: 2px solid #dedede; 
  padding: 15px; 
  margin: 15px; 
}
html { 
  margin: 0; 
  padding: 0; 
}
body { 
  max-width: 600px; 
  font-family: sans-serif; 
  color: #333; 
}
h1,
h2,
ul,
li,
p {
  padding: 15px; 
  margin: 15px; 
}